{% if field.disable_label == false %}
    <label for="{{ field_id }}">{{ field.label }}</label>
{% endif %}
<input type="number"
       id="{{ field_id }}"
       name="{{ field.name }}"
       class="{{ classes }} {{ form.field_classes }} {{ field.classes }}"
       onchange="{{ field.events.onchange }}"
       onclick="{{ field.events.onclick }}"
       oninput="{{ field.events.oninput }}"
       min="{{ field.attribute.min }}"
       max="{{ field.attribute.max }}"
       onkeyup="{{ field.events.onkeyup }}"
       {{ (field.required) ? 'required' : '' }}
       placeholder="{{ field.attribute.placeholder }}"
       value="{{ field.attribute.value }}">
