{% if field.disable_label == false %}
    <label for="{{ field_id }}">{{ field.label }}</label>
{% endif %}

<select id="{{ field_id }}"
        name="{{ field.name }}"
        class="{{ classes }} {{ form.field_classes }} {{ field.classes }}"
        onchange="{{ field.events.onchange }}"
        onclick="{{ field.events.onclick }}"
        {{ (field.required) ? 'required' : '' }}>
        {% for item in field.value_list %}
            <option value="{{ item.value }}" {{ (item.active) ? 'selected' : '' }}>{{ item.key }}</option>
        {% endfor %}
</select>
